<div class='announcement' style="color:<%= announcement.foreground %>;background:<%= announcement.background %>">
  <div class='content'>
    <%= simple_format(announcement.content) %>
  </div>
  <marquee class='marquee'>
    <%= announcement.marquee%>
  </marquee>
</div>
