<div class='announcement' style="color:<%= @announcement.foreground %>;background:<%= @announcement.background %>">
  <div class='content'>
    <%= @announcement.content%>
  </div>
  <div class='marquee'>
    <%= @announcement.marquee%>
  </div>
</div>
