// Place all the styles related to the announcements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, .announcement-container, .announcement-container > .announcement{
  height: 100%;
}

body{ margin: 0px;}

.announcement{
  text-align: center;
  font-size: 52px;
  padding-top: 40px;
  position: relative;
  box-sizing: border-box;
  font-weight: bolder;
  .marquee{
    font-size: 25px;
    position: absolute;
    bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    left: 0px;
    right: 0px;
    border-top: 1px solid gray;
  }
}
